/* Reglas generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

/* Estilos de navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #16c79a;
  font-weight: bold;
}

/* Logo */
.logo img {
  height: 50px;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 50px;
  flex-wrap: wrap;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  width: 100vmax;
  background-image: url('./images/utom.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero-text h1 {
  font-size: 3em;
}

.hero-text p {
  font-size: 1.5em;
}

.cta-button {
  background-color: #16c79a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #13a382;
}

/* Carreras */
.carreras {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.carrera {
  text-align: center;
  flex-basis: calc(33.33% - 40px);
  margin-bottom: 40px;
}

.carrera img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrera p {
  font-size: 1.1em;
  margin-top: 10px;
  color: #333;
}

/* Oferta para Gastronomía */
.offer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
}

.offer-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-img {
  width: 100%;
  border-radius: 15px;
}

.secondary-img {
  width: 60%;
  align-self: flex-end;
  border-radius: 15px;
}

.offer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-details h1 {
  font-size: 2em;
}

.offer-details h2 {
  font-size: 1.5em;
  color: #16c79a;
}

.offer-details p {
  font-size: 1.1em;
  color: #555;
}

/* Footer */
#footering {
  position: fixed; /* Fija el footer en la parte inferior */
  left: 0;
  bottom: 0; /* Se asegura de que esté en la parte inferior de la página */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  background-color: #222; /* Ajusta el color del fondo del footer */
  color: #fff; /* Color del texto en el footer */
  text-align: center; /* Centra el texto en el footer */
  padding: 30px 0; /* Espaciado interno en el footer */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Sombras para darle profundidad */
}

#footering p {
  margin: 0;
  font-size: 1em;
}

/* Estilo para el Footer */
footer {
  position: fixed; /* Fija el footer en la parte inferior */
  left: 0;
  bottom: 0; /* Se asegura de que esté en la parte inferior de la página */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  background-color: #222; /* Ajusta el color del fondo del footer */
  color: #fff; /* Color del texto en el footer */
  text-align: center; /* Centra el texto en el footer */
  padding: 10px 0; /* Espaciado interno en el footer */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Sombras para darle profundidad */
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .hero {
    height: 70vh;
  }
}
/* Estilos para el botón de cerrar sesión */
button {
  background-color: #FF4081;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #D81B60;
}
